# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.venv/
*.egg
*.egg-info/
dist/
build/
.eggs/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# MyPy / Pyre type checker
.mypy_cache/
.pyre/

# Virtual environment folders
*/venv/
*/.venv/

# Local config
*.env